# ===== Java / Maven =====
target/
*.class
*.jar
*.war

# ===== IDE files =====
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
*.swp

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Spring Boot =====
*.log
spring.log

# ===== Environment / Secrets (IMPORTANT for PayFlow) =====
.env
application-local.properties
application-secrets.properties

# ===== Build tools =====
.mvn/wrapper/maven-wrapper.jar